body {
    margin: auto;
}

.page-title {
    border-bottom: 1px solid #000;
}

.square {
    height: 60px;
    width: 60px;
    font-size: 50px;
    text-align: center;
    transition: all .25s ease-in-out;
    cursor: pointer;
}

.square:hover {
    background: rgba(10, 10, 10, 0.5);
}

#restart {
    font-size: 20px;
    text-decoration: none;
    color: #000;
}